[options]
admin_passwd = {{ADMIN_PASSWD}}

db_host = False
db_port = False
db_user = odoo
db_password = False
db_name = {{DB_NAME}}

dbfilter = ^{{DB_NAME}}$
list_db = True

addons_path = /opt/odoo/auto-addons,/opt/odoo/odoo{{ODOO_VERSION}}/odoo/addons{{OCA_ADDON_PATHS}},/opt/odoo/custom-addons

data_dir = /var/lib/odoo
logfile = /var/log/odoo/odoo{{ODOO_VERSION}}.log

proxy_mode = True

xmlrpc_port = 8069
longpolling_port = 8072
